# Binary files:
*.pickle
*.exe
*.zip
*.SC2Map
*.xlsx

*__debug_bin

DEMOS/Output/*.json

*.log

.vscode/

map_translator/
post_processing.py
cpu_profiler.prof
profile001.callgraph.out

command

# Input files:
DEMOS/Input/*.SC2Replay
DEMOS/other/*.SC2Replay
*.SC2Replay

processed_mapping.json
SC2InfoExtractorGo

package_summary*
test_replays_output/
*.s2ma
maps/